*{
  margin: 0;
  padding: 0;
  
}
*::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
  background-color: aqua;
}

*{
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Playwrite+DE+Grund&family=Bebas+Neue&display=swap');


@import url("css/header.css");
@import url("css/slider.css");
@import url("css/categories.css");
@import url("css/footer.css");
@import url("css/searchbar.css");
@import url("css/productcard.css");
@import url("css/productlist.css");
@import url("css/fulldetails.css");
@import url("css/cart.css");
@import url("css/oops.css");
@import url("admin-panel/css/category.css");
@import url("admin-panel/css/orderList.css");
@import url("admin-panel/css/productList.css");
@import url("admin-panel/css/sidebar.css");
