@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

.oops .head, .oops .desc{
    font-family: 'Shadows Into Light Two', cursive;
    
}
.oops .head{
    font-size: 60px;
}
.oops .desc{
    font-size: x-large;
}