/* Sidebar Styling */
.sidebar_container {
    background-color: #343A40;
    padding: 20px;
    border-radius: 10px;
    min-height: 100vh;
}

.profile-sidebar h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 15px 0;
    color: #f7f7f7;
    
}

.profile-sidebar .list-group-item {
    cursor: pointer;
    padding: 15px 15px;
    margin: 15px 0;
    border: none;
    background-color: #fff;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color ease-in-out 0.1s;
    
}

.profile-sidebar .list-group-item:hover {
    background-color: #64b8cf;
    transition: background-color ease-in-out 0.1s;
    color: #f7f7f7;
   
    
}
.small-swal{
    width: 400px!important;
    height: auto;
}
.profile-sidebar .list-group-item h2{
    background-color:#353535;
    color: #f7f7f7;
}
.profile-sidebar .list-group a{
    text-decoration: none;
    color:black;
}

.profile-sidebar .logout:hover{
    transition: background-color ease-in-out 0.1s;
    background-color: #e65e5e;
    color: white;
}

/* Profile Overview */

.profile-container {
    
    background-color: #fff;    
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
}
.profile-container .details{
    padding: 20px;
}
.heading{
    padding: 5px 0;
    margin: 0;
    color:#f7f7f7;
    background-color: #343A40;
    border-radius: 10px;
    text-align: center;
    
}

/* Orders Section */
.orders-section {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}
.profile .product-image{
    height: 250px;
    width: auto;
}
.order-list .order-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.order-status {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.status-pending {
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    margin-right: 5px;
}

.status-success {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 5px;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}



