.sidebar-admin {
    width: 250px;
    background-color: #4b49ac;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0 0 10px;
    transition: transform 0.3s ease; /* Smooth transition for sliding effect */
}

.sidebar-admin.closed {
    transform: translateX(-100%); /* Hide sidebar off-screen */
}

.sidebar-admin.open {
    transform: translateX(0); /* Show sidebar */
}

.sidebar-admin h2 {
    margin-bottom: 20px;
}

.sidebar-admin ul {
    list-style: none;
    padding: 0;
    padding-left: 20px !important;
}

.sidebar-admin ul li {
    padding: 10px 0;
    margin-bottom: 15px;
}

.sidebar-admin ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar-admin ul li a:hover {
    text-decoration: underline;
}

.sidebar-admin ul .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-left: 0; /* Remove padding if not needed */
}

.sidebar-admin ul .dropdown.open {
    margin-top: 20px;
    max-height: 100px; /* Adjust as needed */
    padding-left: 20px; /* Adjust padding as needed */
}

/* Toggler button styles */
.sidebar-toggle {
    position: absolute;
    top: 5px;
    right: -45px; /* Adjust as needed */
    background-color: #4b49ac;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000; /* Ensure it is above other content */
    height: 40px;
    aspect-ratio: 1/1;
}

.sidebar-toggle i {
    font-size: 20px;
}
